.btn{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #7D67FF;
    border: none;
    border-radius: 0.5rem;
    padding: 1.125rem 0;
    color: #fff;
    font-size: 1.125rem;
    gap: 0.5rem;
}