.App {
  display: flex;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.mid-app {
  padding: 34px 24px;
  width: 60%;
  height: 100%;
}